body {
  font-family: 'Roboto';
  font-weight: 400;
  /*max-height: 100% !important;*/
}

a {
  @include transition(all .3s ease-out);
  text-decoration: underline;
}

ul { list-style-type: none }

h1, h2 { text-transform: uppercase }

section {
  padding: 60px;
  position: relative;
}

#main-section {
  clear: both;
  overflow: hidden;
}

