#branding {
  background: $gray-light;
  color: $green-light;
  margin-top: 50px;

  .container {
    background: $gray-light image-url('branding_bg.png') no-repeat;
  }

  .content {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-sm-column-offset(6);
  }
}

.branding {
  a {
    color: $green-light;
    display: block;
    text-transform: uppercase;
  }
}

