#navigation {
  background: $gray 85%;
  color: $white;
  font-size: 14px;
  padding: 0;

  h2 {
    @include make-sm-column(6);

    line-height: 50px;
    font-size: 14px;
    margin: 0px;
  }

  &.affix {
    top: 0;
    width: 100%;
    z-index: 9999;
  }
}

.navigation {
  @include make-sm-column(6);

  line-height: 50px;

  a {
    color: $white;
    text-transform: uppercase;
    text-decoration: none;

    &:after {
      content: '|';
      padding: 10px;
    }

    &:last-of-type:after { content: none }
  }
}

