#templates {
  background: $gray-light;
  color: $gray-dark;

  article {
    @include make-sm-column(5);
    @include make-sm-column-offset(1);
    @include make-xs-column(12);
  }

  a {
    color: $gray-dark;
    font-size: 12px;
  }

  h1 {
    font-size: 40px;
    font-weight: 400;
  }

  h2 {
    font-size: 22px;
    font-weight: 500;
  }
}

.header-with-logo {
}

.presentation-title:before {
  content: image-url('presentation.png');
  margin-right: 10px;
}


.document-title:before {
  content: image-url('document.png');
  margin-right: 10px;
}
