#templates {
  background: $gray-light;
  color: $green-light;

  article {
    @include make-sm-column(5);
    @include make-sm-column-offset(1);
    @include make-xs-column(12);
  }

  a { color: $green-light }
}

.header-with-logo {
}

.presentation-title:before {
  content: image-url('presentation.png');
  margin-right: 10px;
}


.document-title:before {
  content: image-url('document.png');
  margin-right: 10px;
}
