#typography {
  background-color: $blue;
  color: $white;

  .container {
    background: image-url('typography_bg.png') center no-repeat;
  }

  article {
    @include make-sm-column(5);
    @include make-sm-column-offset(1);
    @include make-xs-column(12);
  }

  a { color: $white }
}

