#branding {
  background: $gray-light;
  color: $green-light;
  padding: 100px 50px;

  h1, h2 { text-transform: uppercase }

  .logo {
    @include make-xs-column(12);
    @include make-sm-column(6);
  }

  .content {
    @include make-xs-column(12);
    @include make-sm-column(6);
  }
}

.branding {
  a {
    color: $green-light;
    display: block;
    text: {
      decoration: underline;
      transform: uppercase;
    }
  }
}

