%section#branding
  .container
    .logo
      = link_to '#' do
        = image_tag 'crowd.jpg', alt: 'Crowd Interactive'

    %article.content
      %h1 Crowd Interactive

      %p
        Lorem Ipsum dolor

      %p
        Lorem Ipsum dolor

      %p
        Lorem Ipsum dolor

      %p
        Lorem Ipsum dolor

      %footer
        = render 'main_nav', klass: 'branding'

