%section#branding
  .logo
    = link_to '#' do
      = image_tag 'crowd.jpg', alt: 'Crowd Interactive'

  %article
    %h1 Crowd Interactive

    .content
      %p
        Lorem Ipsum dolor

      %p
        Lorem Ipsum dolor

      %p
        Lorem Ipsum dolor

      %p
        Lorem Ipsum dolor

    %footer
      = render 'main_nav', klass: 'branding'

