%section#branding
  .container
    .logo
      = link_to '#' do
        = image_tag 'crowd.jpg', alt: 'Crowd Interactive'

    %article.content
      %h1 Crowd Interactive

      %p
        El nombre de Crowd Interactive se compone de la palabra "Crowd", vocablo en
        inglés que significa "Multitud" e "Interactive" que significa "Interactivo"
        y juntos definen un concepto de como se constituye nuestra empresa, que es
        el de una multitud de desarrolladores que diseñan y desarrollan apicaciones
        para internet donde la intereaccion con usuarios corresponde a una necesidad
        de nuestros clientes.

      %p
        La composición visual representa la integración de personas (puntos alrededor
        de la letra "C") al estilo de trabajo y forma de pensar de nuestra empresa.
        La cultura al interior es muy solida y esta epresentada en los razgos gruesos
        y estables de la tipografia, y ésta se diseño en especial para el caso de
        nuestro nombre.

      %p
        La letra "C" se aisla y se enfatiza lo necesario del resto del nombre por
        considerarse el "Core" o punto de atracción a nuestra empresa. La principal
        característica de esta diferenciación es el grupo de puntos alrededor de la
        letra, y esta composición puede trabajar en conjunto con el resto del nombre
        o de forma separada como elemento abstracto, pero funcionando al mismo nivel
        de reconocimiento. Otra característica es el corte que se genera del margen
        de la letra "C" con respecto a la letra "R".

      %p
        La palabra de apoyo "INTERACTIVE" guarda las mismas características de
        construcción del nombre y su tamaño respecto al resto del logo guarda un
        porcentaje de proporción. Esta palabra acompaña a la composición salvo que el
        tamaño total del logo no sea menor a los 25 pixeles de alto, de lo contrario
        se prescinde de ella.

      %footer
        = render 'main_nav', klass: 'branding'

