%section#color-scheme
  %header
    %h1 Color Scheme

  %article#primary
    %h1 Primary Scheme

    = render 'color_list', colors: %w{ fff 000 111 222 333 }

  %article#secondary
    %h1 Secondary Scheme

    = render 'color_list', colors: %w{ 555 666 777 888 999 }
