%section#color-scheme
  .container
    %h1 Color Scheme

    %article#primary
      %h2 Primary Scheme

      = render 'color_list', colors: %w{ fff 000 111 222 333 }

    %article#secondary
      %h2 Secondary Scheme

      = render 'color_list', colors: %w{ 555 666 777 888 999 }
