%section#navigation
  .container
    = render 'main_nav', klass: 'navigation'

- content_for :scripts do
  :coffee
    $ ->
      ($ '#navigation').affix
        offset:
          top: -> ($ '#branding').outerHeight()
