%section#typography
  .container
    %h1 Typography

    %article#roboto
      %header
        %h2 Roboto
        %h3 Main typeface.

      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas blandit
        malesuada scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus
        et ultrices posuere cubilia Curae; Cras condimentum a dui ac laoreet. Nulla
        suscipit eu libero nec sagittis. Mauris sed velit mollis, luctus erat a,
        mattis est. Quisque placerat nisl

      = link_to 'Zip(16 fonts)', '#'

    %article#oswald
      %header
        %h2 Oswald
        %h3 Secondary typeface

      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas blandit
        malesuada scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus
        et ultrices posuere cubilia Curae; Cras condimentum a dui ac laoreet. Nulla
        suscipit eu libero nec sagittis. Mauris sed velit mollis, luctus erat a,
        mattis est. Quisque placerat nisl

      = link_to 'Zip(3 fonts)', '#'

    %article.other-types#other-typefaces
      %h3 Other useful typefaces

      %ul
        %li= link_to 'CALIBRI - Zip(16 fonts)', '#'
        %li= link_to 'Font - Zip(3 fonts)', '#'

