%section#typography
  .container{ data: { 'stellar-background-ratio' => 0.5,
                      'stellar-vertical-offset' => 110,
                      'stellar-offset-parent' => 'true' } }
    %h1 Typography

    %article#roboto.type-section
      %header
        %h2 Roboto
        %h3 Main typeface.

      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas blandit
        malesuada scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus
        et ultrices posuere cubilia Curae; Cras condimentum a dui ac laoreet. Nulla
        suscipit eu libero nec sagittis. Mauris sed velit mollis, luctus erat a,
        mattis est. Quisque placerat nisl

      = download_link 'Zip(16 fonts)', 'fonts/roboto.zip'

    %article#oswald.type-section
      %header
        %h2 Oswald
        %h3 Secondary typeface

      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas blandit
        malesuada scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus
        et ultrices posuere cubilia Curae; Cras condimentum a dui ac laoreet. Nulla
        suscipit eu libero nec sagittis. Mauris sed velit mollis, luctus erat a,
        mattis est. Quisque placerat nisl

      = download_link 'Zip(3 fonts)', 'fonts/oswald.zip'

    %article#other-typefaces.type-section
      %h3 Other useful typefaces

      %ul
        %li= download_link 'Calibri - Zip(16 fonts)', 'fonts/calibri.zip'
        %li= link_to 'Font - Zip(3 fonts)', '#'

