%section#typography
  %h1 Typography

  %article#roboto
    %header
      %h2 Roboto
      %h3 Main typeface.

    %p
      Lorem ipsum roboto

    = link_to 'Zip(16 fonts)', '#'

  %article#oswald
    %header
      %h2 Oswald
      %h3 Secondary typeface

    %p
      Lorem ipsum roboto

    = link_to 'Zip(3 fonts)', '#'

  %article#other-typefaces
    %h2 Other useful typefaces

    %ul
      %li= link_to 'CALIBRI - Zip(16 fonts)', '#'
      %li= link_to 'Font - Zip(3 fonts)', '#'

