%section#typography
  %header
    %h1 Typography

  %article#roboto
    %header
      %h1 Roboto
      %h2 Main typeface.

    %p
      Lorem ipsum roboto

    = link_to 'Zip(16 fonts)', '#'

  %article#oswald
    %header
      %h1 Oswald
      %h2 Secondary typeface

    %p
      Lorem ipsum roboto

    = link_to 'Zip(3 fonts)', '#'

  %article#other-typefaces
    %h1 Other useful typefaces

    %ul
      %li= link_to 'CALIBRI - Zip(16 fonts)', '#'
      %li= link_to 'Font - Zip(3 fonts)', '#'

