%footer#main-footer
  .container
    %p
      If you need more information about our Brand, please contact:
      = link_to 'benjamin@crowdint.com', 'mailto: benjamin@crowdint.com'
    %small &copy Crowd Interactive 2014

