%header#navigation{ data: { spy: 'affix' } }
  .container
    %h2 Our branding

    %nav.navigation
      = link_to 'Logo', '#logo'
      = link_to 'Color scheme', '#color-scheme'
      = link_to 'Typography', '#typography'
      = link_to 'Templates', '#templates'
