= javascript_include_tag 'application'
= yield :scripts

:coffee
  $ ->
    skrollrInstance = skrollr.init()
    skrollr.menu.init skrollrInstance
    !/^((?!chrome).)*safari/i.test(navigator.userAgent) and $.stellar(horizontalScrolling: false)


